<div id="footer" >
		<p class="copyright">
		cpryright © <%= new Date().getFullYear() %>
		<% if (config.author) { %>
		<a href="<%= config.root %>about" target="_blank" title="<%= config.author %>"><%= config.author %></a>
		<% } else {%>
		<a href="<%= config.url %>" title="<%= config.title %>"><%= config.title %></a>
		<% } %>
		</p>
</div>
